Options +FollowSymLinks
RewriteEngine on

# for redirecting all www pages to https non-www
RewriteCond %{HTTP_HOST} !^altusit.ca$
RewriteRule ^(.*)$ https://altusit.ca/$1 [R=301,L]

# for redirecting file extension URLs to the non-extension ones
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
# for adding .html extension if matching file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1\.html -f [NC]
RewriteRule ^(.+?)/?$ /$1.html [L]

# for redirecting file extension URLs to the non-extension ones
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
# for adding .php extension if matching file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1\.php -f [NC]
RewriteRule ^(.+?)/?$ /$1.php [L]

ErrorDocument 404 /404.html
