/* 
------------
HERO SECTION
------------
*/
.page_title_container {
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.5)),to(rgba(0, 0, 0, 0.5))),url('../pictures/services/hero.jpg');
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../pictures/services/hero.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../pictures/services/hero.jpg');
    background-position: center bottom;
}

.icon_header_row img {
    max-width: 200px;
    height: auto;
}


.services_list {
    max-width: 900px;
}

@media (max-width: 992px) {
    .services_list {margin-left: 10px;}
}

@media (max-width: 768px) {
    .services_list {margin-left: 0;}
}